<h4>Robert Gruszczyński 4tc</h4>
<h1>How it works?</h1>
<p>Create JSON file with this template:</p>
<p>&#123;</p>
<div>"[Question 1]": &#123;"type":"[Input Type]"&#125;,</div>
<div>"[Question 2]": &#123;"type":"[Input Type]"&#125;</div>
<p>&#125;</p>
<br>
<h3>Your types can be basic html types:</h3>
<ul>
    <li>button</li>
    <li>checkbox</li>
    <li>color</li>
    <li>date</li>
    <li>datetime-local</li>
    <li>email</li>
    <li>file</li>
    <li>hidden</li>
    <li>image</li>
    <li>month</li>
    <li>number</li>
    <li>password</li>
    <li>range</li>
    <li>reset</li>
    <li>search</li>
    <li>tel</li>
    <li>text</li>
    <li>time</li>
    <li>url</li>
    <li>week</li>
</ul>
<h3>Or custom type created by me:</h3>
<ul>
    <li>select - in question in mustached bracket add options array like this:</li>
    <p>&#123;</p>
    <div>"[Question 1]": &#123;"type":"[Input Type], "options":["[option 1]", "[option 2]", "[option 3]"]"&#125;,</div>
    <p>&#125;</p>
</ul>
